USE [GimnasioDB]
GO
/****** Objeto: Table [dbo].[Membresia] Fecha de script: 22/09/2026 18:41:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Membresia](
	[MembresiaID] [int] IDENTITY(1,1) NOT NULL,
	[ClienteID] [int] NOT NULL,
	[TipoMembresiaID] [int] NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaVencimiento] [date] NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MembresiaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Membresia_Cliente] Fecha de script: 22/09/2026 18:41:01 ******/
CREATE NONCLUSTERED INDEX [IX_Membresia_Cliente] ON [dbo].[Membresia]
(
	[ClienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Membresia_FechaVencimiento] Fecha de script: 22/09/2026 18:41:01 ******/
CREATE NONCLUSTERED INDEX [IX_Membresia_FechaVencimiento] ON [dbo].[Membresia]
(
	[FechaVencimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Membresia] ADD  DEFAULT ('ACTIVA') FOR [Estado]
GO
ALTER TABLE [dbo].[Membresia]  WITH CHECK ADD  CONSTRAINT [FK_Membresia_Cliente] FOREIGN KEY([ClienteID])
REFERENCES [dbo].[Cliente] ([ClienteID])
GO
ALTER TABLE [dbo].[Membresia] CHECK CONSTRAINT [FK_Membresia_Cliente]
GO
ALTER TABLE [dbo].[Membresia]  WITH CHECK ADD  CONSTRAINT [FK_Membresia_Tipo] FOREIGN KEY([TipoMembresiaID])
REFERENCES [dbo].[TipoMembresia] ([TipoMembresiaID])
GO
ALTER TABLE [dbo].[Membresia] CHECK CONSTRAINT [FK_Membresia_Tipo]
GO
ALTER TABLE [dbo].[Membresia]  WITH CHECK ADD  CONSTRAINT [CK_Membresia_Estado] CHECK  (([Estado]='VENCIDA' OR [Estado]='SUSPENDIDA' OR [Estado]='ACTIVA'))
GO
ALTER TABLE [dbo].[Membresia] CHECK CONSTRAINT [CK_Membresia_Estado]
GO
ALTER TABLE [dbo].[Membresia]  WITH CHECK ADD  CONSTRAINT [CK_Membresia_Fechas] CHECK  (([FechaVencimiento]>=[FechaInicio]))
GO
ALTER TABLE [dbo].[Membresia] CHECK CONSTRAINT [CK_Membresia_Fechas]
GO
ALTER TABLE [dbo].[Membresia]  WITH CHECK ADD  CONSTRAINT [CK_Membresia_Precio] CHECK  (([Precio]>=(0)))
GO
ALTER TABLE [dbo].[Membresia] CHECK CONSTRAINT [CK_Membresia_Precio]
GO
