USE [GimnasioDB]
GO
/****** Objeto: Table [dbo].[AsignacionEntrenador] Fecha de script: 22/09/2026 18:41:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AsignacionEntrenador](
	[AsignacionID] [int] IDENTITY(1,1) NOT NULL,
	[EntrenadorID] [int] NOT NULL,
	[ClienteID] [int] NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AsignacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AsignacionEntrenador] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[AsignacionEntrenador]  WITH CHECK ADD  CONSTRAINT [FK_Asignacion_Cliente] FOREIGN KEY([ClienteID])
REFERENCES [dbo].[Cliente] ([ClienteID])
GO
ALTER TABLE [dbo].[AsignacionEntrenador] CHECK CONSTRAINT [FK_Asignacion_Cliente]
GO
ALTER TABLE [dbo].[AsignacionEntrenador]  WITH CHECK ADD  CONSTRAINT [FK_Asignacion_Entrenador] FOREIGN KEY([EntrenadorID])
REFERENCES [dbo].[Entrenador] ([EntrenadorID])
GO
ALTER TABLE [dbo].[AsignacionEntrenador] CHECK CONSTRAINT [FK_Asignacion_Entrenador]
GO
ALTER TABLE [dbo].[AsignacionEntrenador]  WITH CHECK ADD  CONSTRAINT [CK_Asignacion_Fechas] CHECK  (([FechaFin] IS NULL OR [FechaFin]>=[FechaInicio]))
GO
ALTER TABLE [dbo].[AsignacionEntrenador] CHECK CONSTRAINT [CK_Asignacion_Fechas]
GO
