USE [GimnasioDB]
GO
/****** Objeto: Table [dbo].[Asistencia] Fecha de script: 22/09/2026 18:41:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asistencia](
	[AsistenciaID] [int] IDENTITY(1,1) NOT NULL,
	[ClienteID] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[HoraEntrada] [time](7) NOT NULL,
	[HoraSalida] [time](7) NULL,
	[Estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AsistenciaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Asistencia_Cliente_Fecha] Fecha de script: 22/09/2026 18:41:00 ******/
CREATE NONCLUSTERED INDEX [IX_Asistencia_Cliente_Fecha] ON [dbo].[Asistencia]
(
	[ClienteID] ASC,
	[Fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Asistencia] ADD  DEFAULT ('VALIDADA') FOR [Estado]
GO
ALTER TABLE [dbo].[Asistencia]  WITH CHECK ADD  CONSTRAINT [FK_Asistencia_Cliente] FOREIGN KEY([ClienteID])
REFERENCES [dbo].[Cliente] ([ClienteID])
GO
ALTER TABLE [dbo].[Asistencia] CHECK CONSTRAINT [FK_Asistencia_Cliente]
GO
ALTER TABLE [dbo].[Asistencia]  WITH CHECK ADD  CONSTRAINT [CK_Asistencia_Estado] CHECK  (([Estado]='RECHAZADA' OR [Estado]='VALIDADA'))
GO
ALTER TABLE [dbo].[Asistencia] CHECK CONSTRAINT [CK_Asistencia_Estado]
GO
ALTER TABLE [dbo].[Asistencia]  WITH CHECK ADD  CONSTRAINT [CK_Asistencia_Horas] CHECK  (([HoraSalida] IS NULL OR [HoraSalida]>=[HoraEntrada]))
GO
ALTER TABLE [dbo].[Asistencia] CHECK CONSTRAINT [CK_Asistencia_Horas]
GO
