USE [GimnasioDB]
GO
/****** Objeto: Table [dbo].[RutinaRealizada] Fecha de script: 22/09/2026 18:41:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RutinaRealizada](
	[RutinaRealizadaID] [int] IDENTITY(1,1) NOT NULL,
	[RutinaID] [int] NOT NULL,
	[ClienteID] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[DuracionMinutos] [int] NULL,
	[CaloriasQuemadas] [decimal](10, 2) NULL,
	[Observaciones] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[RutinaRealizadaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Index [IX_RutinaRealizada_Cliente_Fecha] Fecha de script: 22/09/2026 18:41:01 ******/
CREATE NONCLUSTERED INDEX [IX_RutinaRealizada_Cliente_Fecha] ON [dbo].[RutinaRealizada]
(
	[ClienteID] ASC,
	[Fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RutinaRealizada]  WITH CHECK ADD  CONSTRAINT [FK_RutinaRealizada_Cliente] FOREIGN KEY([ClienteID])
REFERENCES [dbo].[Cliente] ([ClienteID])
GO
ALTER TABLE [dbo].[RutinaRealizada] CHECK CONSTRAINT [FK_RutinaRealizada_Cliente]
GO
ALTER TABLE [dbo].[RutinaRealizada]  WITH CHECK ADD  CONSTRAINT [FK_RutinaRealizada_Rutina] FOREIGN KEY([RutinaID])
REFERENCES [dbo].[Rutina] ([RutinaID])
GO
ALTER TABLE [dbo].[RutinaRealizada] CHECK CONSTRAINT [FK_RutinaRealizada_Rutina]
GO
ALTER TABLE [dbo].[RutinaRealizada]  WITH CHECK ADD  CONSTRAINT [CK_RutinaRealizada_Calorias] CHECK  (([CaloriasQuemadas] IS NULL OR [CaloriasQuemadas]>=(0)))
GO
ALTER TABLE [dbo].[RutinaRealizada] CHECK CONSTRAINT [CK_RutinaRealizada_Calorias]
GO
ALTER TABLE [dbo].[RutinaRealizada]  WITH CHECK ADD  CONSTRAINT [CK_RutinaRealizada_Duracion] CHECK  (([DuracionMinutos] IS NULL OR [DuracionMinutos]>(0)))
GO
ALTER TABLE [dbo].[RutinaRealizada] CHECK CONSTRAINT [CK_RutinaRealizada_Duracion]
GO
