USE [GimnasioDB]
GO
/****** Objeto: StoredProcedure [dbo].[sp_ActualizarMembresiasVencidas] Fecha de script: 22/09/2026 18:41:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_ActualizarMembresiasVencidas]
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Membresia
    SET Estado = 'VENCIDA'
    WHERE Estado = 'ACTIVA'
      AND FechaVencimiento < CAST(GETDATE() AS DATE);
END;
GO
