USE [GimnasioDB]
GO
/****** Objeto: Table [dbo].[DiaRutina] Fecha de script: 22/09/2026 18:41:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaRutina](
	[DiaRutinaID] [int] IDENTITY(1,1) NOT NULL,
	[RutinaID] [int] NOT NULL,
	[DiaSemana] [varchar](15) NOT NULL,
	[OrdenDia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DiaRutinaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DiaRutina_Rutina_Orden] UNIQUE NONCLUSTERED 
(
	[RutinaID] ASC,
	[OrdenDia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DiaRutina]  WITH CHECK ADD  CONSTRAINT [FK_DiaRutina_Rutina] FOREIGN KEY([RutinaID])
REFERENCES [dbo].[Rutina] ([RutinaID])
GO
ALTER TABLE [dbo].[DiaRutina] CHECK CONSTRAINT [FK_DiaRutina_Rutina]
GO
ALTER TABLE [dbo].[DiaRutina]  WITH CHECK ADD  CONSTRAINT [CK_DiaRutina_Dia] CHECK  (([DiaSemana]='DOMINGO' OR [DiaSemana]='SABADO' OR [DiaSemana]='VIERNES' OR [DiaSemana]='JUEVES' OR [DiaSemana]='MIERCOLES' OR [DiaSemana]='MARTES' OR [DiaSemana]='LUNES'))
GO
ALTER TABLE [dbo].[DiaRutina] CHECK CONSTRAINT [CK_DiaRutina_Dia]
GO
ALTER TABLE [dbo].[DiaRutina]  WITH CHECK ADD  CONSTRAINT [CK_DiaRutina_Orden] CHECK  (([OrdenDia]>(0)))
GO
ALTER TABLE [dbo].[DiaRutina] CHECK CONSTRAINT [CK_DiaRutina_Orden]
GO
