USE [GimnasioDB]
GO
/****** Objeto: Table [dbo].[HorarioClase] Fecha de script: 22/09/2026 18:41:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HorarioClase](
	[HorarioID] [int] IDENTITY(1,1) NOT NULL,
	[ClaseID] [int] NOT NULL,
	[EntrenadorID] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[HoraInicio] [time](7) NOT NULL,
	[HoraFin] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HorarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HorarioClase]  WITH CHECK ADD  CONSTRAINT [FK_HorarioClase_Clase] FOREIGN KEY([ClaseID])
REFERENCES [dbo].[Clase] ([ClaseID])
GO
ALTER TABLE [dbo].[HorarioClase] CHECK CONSTRAINT [FK_HorarioClase_Clase]
GO
ALTER TABLE [dbo].[HorarioClase]  WITH CHECK ADD  CONSTRAINT [FK_HorarioClase_Entrenador] FOREIGN KEY([EntrenadorID])
REFERENCES [dbo].[Entrenador] ([EntrenadorID])
GO
ALTER TABLE [dbo].[HorarioClase] CHECK CONSTRAINT [FK_HorarioClase_Entrenador]
GO
ALTER TABLE [dbo].[HorarioClase]  WITH CHECK ADD  CONSTRAINT [CK_HorarioClase_Horas] CHECK  (([HoraFin]>[HoraInicio]))
GO
ALTER TABLE [dbo].[HorarioClase] CHECK CONSTRAINT [CK_HorarioClase_Horas]
GO
