USE [GimnasioDB]
GO
/****** Objeto: Table [dbo].[InscripcionClase] Fecha de script: 22/09/2026 18:41:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InscripcionClase](
	[InscripcionID] [int] IDENTITY(1,1) NOT NULL,
	[ClaseID] [int] NOT NULL,
	[ClienteID] [int] NOT NULL,
	[FechaInscripcion] [datetime2](7) NOT NULL,
	[Estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InscripcionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Inscripcion_Cliente_Clase] UNIQUE NONCLUSTERED 
(
	[ClaseID] ASC,
	[ClienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Index [IX_InscripcionClase_Cliente] Fecha de script: 22/09/2026 18:41:01 ******/
CREATE NONCLUSTERED INDEX [IX_InscripcionClase_Cliente] ON [dbo].[InscripcionClase]
(
	[ClienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InscripcionClase] ADD  DEFAULT (sysdatetime()) FOR [FechaInscripcion]
GO
ALTER TABLE [dbo].[InscripcionClase] ADD  DEFAULT ('ACTIVA') FOR [Estado]
GO
ALTER TABLE [dbo].[InscripcionClase]  WITH CHECK ADD  CONSTRAINT [FK_Inscripcion_Clase] FOREIGN KEY([ClaseID])
REFERENCES [dbo].[Clase] ([ClaseID])
GO
ALTER TABLE [dbo].[InscripcionClase] CHECK CONSTRAINT [FK_Inscripcion_Clase]
GO
ALTER TABLE [dbo].[InscripcionClase]  WITH CHECK ADD  CONSTRAINT [FK_Inscripcion_Cliente] FOREIGN KEY([ClienteID])
REFERENCES [dbo].[Cliente] ([ClienteID])
GO
ALTER TABLE [dbo].[InscripcionClase] CHECK CONSTRAINT [FK_Inscripcion_Cliente]
GO
ALTER TABLE [dbo].[InscripcionClase]  WITH CHECK ADD  CONSTRAINT [CK_Inscripcion_Estado] CHECK  (([Estado]='FINALIZADA' OR [Estado]='CANCELADA' OR [Estado]='ACTIVA'))
GO
ALTER TABLE [dbo].[InscripcionClase] CHECK CONSTRAINT [CK_Inscripcion_Estado]
GO
