USE [GimnasioDB]
GO
/****** Objeto: Table [dbo].[ProgresoCliente] Fecha de script: 22/09/2026 18:41:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgresoCliente](
	[ProgresoID] [int] IDENTITY(1,1) NOT NULL,
	[ClienteID] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Peso] [decimal](6, 2) NULL,
	[Observaciones] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProgresoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Index [IX_ProgresoCliente_Cliente_Fecha] Fecha de script: 22/09/2026 18:41:01 ******/
CREATE NONCLUSTERED INDEX [IX_ProgresoCliente_Cliente_Fecha] ON [dbo].[ProgresoCliente]
(
	[ClienteID] ASC,
	[Fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProgresoCliente]  WITH CHECK ADD  CONSTRAINT [FK_Progreso_Cliente] FOREIGN KEY([ClienteID])
REFERENCES [dbo].[Cliente] ([ClienteID])
GO
ALTER TABLE [dbo].[ProgresoCliente] CHECK CONSTRAINT [FK_Progreso_Cliente]
GO
ALTER TABLE [dbo].[ProgresoCliente]  WITH CHECK ADD  CONSTRAINT [CK_Progreso_Peso] CHECK  (([Peso] IS NULL OR [Peso]>(0)))
GO
ALTER TABLE [dbo].[ProgresoCliente] CHECK CONSTRAINT [CK_Progreso_Peso]
GO
