USE [master]
GO
/****** Objeto: Database [GimnasioDB] Fecha de script: 4/09/2026 18:11:51 ******/
CREATE DATABASE [GimnasioDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GimnasioDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GimnasioDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GimnasioDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GimnasioDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GimnasioDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GimnasioDB]
GO
/****** Objeto: Table [dbo].[Asistencia] Fecha de script: 4/09/2026 18:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asistencia](
	[AsistenciaID] [int] IDENTITY(1,1) NOT NULL,
	[ClienteID] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[HoraEntrada] [time](7) NOT NULL,
	[HoraSalida] [time](7) NULL,
	[Estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AsistenciaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Cliente] Fecha de script: 4/09/2026 18:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[ClienteID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[Nombres] [varchar](100) NOT NULL,
	[Apellidos] [varchar](100) NOT NULL,
	[Telefono] [varchar](20) NULL,
	[FechaNacimiento] [date] NULL,
	[FechaRegistro] [datetime2](7) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: View [dbo].[vw_ClientesRiesgoDesercion] Fecha de script: 4/09/2026 18:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_ClientesRiesgoDesercion]
AS
SELECT
    c.ClienteID,
    c.Nombres,
    c.Apellidos,
    c.Telefono,
    MAX(a.Fecha) AS UltimaAsistencia,
    DATEDIFF(
        DAY,
        MAX(a.Fecha),
        CAST(GETDATE() AS DATE)
    ) AS DiasSinAsistir
FROM Cliente c
LEFT JOIN Asistencia a
    ON c.ClienteID = a.ClienteID
    AND a.Estado = 'VALIDADA'
GROUP BY
    c.ClienteID,
    c.Nombres,
    c.Apellidos,
    c.Telefono
HAVING
    MAX(a.Fecha) IS NULL
    OR DATEDIFF(
        DAY,
        MAX(a.Fecha),
        CAST(GETDATE() AS DATE)
    ) > 15;
GO
/****** Objeto: Table [dbo].[TipoMembresia] Fecha de script: 4/09/2026 18:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoMembresia](
	[TipoMembresiaID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[DuracionMeses] [int] NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Descripcion] [varchar](250) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TipoMembresiaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Membresia] Fecha de script: 4/09/2026 18:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Membresia](
	[MembresiaID] [int] IDENTITY(1,1) NOT NULL,
	[ClienteID] [int] NOT NULL,
	[TipoMembresiaID] [int] NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaVencimiento] [date] NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MembresiaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Pago] Fecha de script: 4/09/2026 18:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[PagoID] [int] IDENTITY(1,1) NOT NULL,
	[MembresiaID] [int] NOT NULL,
	[DescuentoID] [int] NULL,
	[FechaPago] [datetime2](7) NOT NULL,
	[MontoOriginal] [decimal](10, 2) NOT NULL,
	[MontoDescuento] [decimal](10, 2) NOT NULL,
	[MontoPagado] [decimal](10, 2) NOT NULL,
	[MetodoPago] [varchar](20) NOT NULL,
	[Estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PagoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: View [dbo].[vw_IngresosMensuales] Fecha de script: 4/09/2026 18:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_IngresosMensuales] AS
SELECT 
    YEAR(p.FechaPago) AS Anio,
    MONTH(p.FechaPago) AS Mes,
    tm.Nombre AS TipoMembresia,
    COUNT(p.PagoID) AS CantidadPagos,
    SUM(p.MontoPagado) AS Ingresos
FROM Pago p
INNER JOIN Membresia m ON p.MembresiaID = m.MembresiaID
INNER JOIN TipoMembresia tm ON m.TipoMembresiaID = tm.TipoMembresiaID
WHERE p.Estado = 'PAGADO'
GROUP BY 
    YEAR(p.FechaPago),
    MONTH(p.FechaPago),
    tm.Nombre;
GO
/****** Objeto: Table [dbo].[RutinaEjercicio] Fecha de script: 4/09/2026 18:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RutinaEjercicio](
	[RutinaEjercicioID] [int] IDENTITY(1,1) NOT NULL,
	[DiaRutinaID] [int] NOT NULL,
	[EjercicioID] [int] NOT NULL,
	[Series] [int] NOT NULL,
	[Repeticiones] [int] NOT NULL,
	[DescansoSegundos] [int] NOT NULL,
	[Observaciones] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[RutinaEjercicioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[GrupoMuscular] Fecha de script: 4/09/2026 18:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrupoMuscular](
	[GrupoMuscularID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[GrupoMuscularID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Ejercicio] Fecha de script: 4/09/2026 18:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ejercicio](
	[EjercicioID] [int] IDENTITY(1,1) NOT NULL,
	[GrupoMuscularID] [int] NOT NULL,
	[NivelDificultadID] [int] NOT NULL,
	[EquipamientoID] [int] NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](250) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EjercicioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: View [dbo].[vw_EjerciciosMasPrescritos] Fecha de script: 4/09/2026 18:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_EjerciciosMasPrescritos] AS
SELECT 
    e.EjercicioID,
    e.Nombre AS Ejercicio,
    gm.Nombre AS GrupoMuscular,
    COUNT(re.RutinaEjercicioID) AS VecesPrescrito
FROM Ejercicio e
INNER JOIN GrupoMuscular gm 
    ON e.GrupoMuscularID = gm.GrupoMuscularID
INNER JOIN RutinaEjercicio re 
    ON e.EjercicioID = re.EjercicioID
GROUP BY 
    e.EjercicioID, 
    e.Nombre, 
    gm.Nombre;
GO
/****** Objeto: Table [dbo].[AreaGimnasio] Fecha de script: 4/09/2026 18:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AreaGimnasio](
	[AreaID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](250) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AreaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[AsignacionEntrenador] Fecha de script: 4/09/2026 18:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AsignacionEntrenador](
	[AsignacionID] [int] IDENTITY(1,1) NOT NULL,
	[EntrenadorID] [int] NOT NULL,
	[ClienteID] [int] NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AsignacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Clase] Fecha de script: 4/09/2026 18:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clase](
	[ClaseID] [int] IDENTITY(1,1) NOT NULL,
	[ServicioID] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](250) NULL,
	[CupoMaximo] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Descuento] Fecha de script: 4/09/2026 18:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Descuento](
	[DescuentoID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Porcentaje] [decimal](5, 2) NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DescuentoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DiaRutina] Fecha de script: 4/09/2026 18:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaRutina](
	[DiaRutinaID] [int] IDENTITY(1,1) NOT NULL,
	[RutinaID] [int] NOT NULL,
	[DiaSemana] [varchar](15) NOT NULL,
	[OrdenDia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DiaRutinaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Entrenador] Fecha de script: 4/09/2026 18:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entrenador](
	[EntrenadorID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[Nombres] [varchar](100) NOT NULL,
	[Apellidos] [varchar](100) NOT NULL,
	[Telefono] [varchar](20) NULL,
	[Especialidad] [varchar](100) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EntrenadorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Equipamiento] Fecha de script: 4/09/2026 18:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipamiento](
	[EquipamientoID] [int] IDENTITY(1,1) NOT NULL,
	[AreaID] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](250) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EquipamientoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Factura] Fecha de script: 4/09/2026 18:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[FacturaID] [int] IDENTITY(1,1) NOT NULL,
	[PagoID] [int] NOT NULL,
	[NumeroFactura] [varchar](50) NOT NULL,
	[FechaEmision] [datetime2](7) NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FacturaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[HorarioClase] Fecha de script: 4/09/2026 18:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HorarioClase](
	[HorarioID] [int] IDENTITY(1,1) NOT NULL,
	[ClaseID] [int] NOT NULL,
	[EntrenadorID] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[HoraInicio] [time](7) NOT NULL,
	[HoraFin] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HorarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[InscripcionClase] Fecha de script: 4/09/2026 18:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InscripcionClase](
	[InscripcionID] [int] IDENTITY(1,1) NOT NULL,
	[ClaseID] [int] NOT NULL,
	[ClienteID] [int] NOT NULL,
	[FechaInscripcion] [datetime2](7) NOT NULL,
	[Estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InscripcionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[NivelDificultad] Fecha de script: 4/09/2026 18:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NivelDificultad](
	[NivelDificultadID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[Descripcion] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[NivelDificultadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Notificacion] Fecha de script: 4/09/2026 18:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notificacion](
	[NotificacionID] [int] IDENTITY(1,1) NOT NULL,
	[ClienteID] [int] NOT NULL,
	[Titulo] [varchar](150) NOT NULL,
	[Mensaje] [varchar](500) NOT NULL,
	[FechaEnvio] [datetime2](7) NOT NULL,
	[Leida] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ProgresoCliente] Fecha de script: 4/09/2026 18:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgresoCliente](
	[ProgresoID] [int] IDENTITY(1,1) NOT NULL,
	[ClienteID] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Peso] [decimal](6, 2) NULL,
	[Observaciones] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProgresoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Reserva] Fecha de script: 4/09/2026 18:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[ReservaID] [int] IDENTITY(1,1) NOT NULL,
	[ClienteID] [int] NOT NULL,
	[ServicioID] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[HoraInicio] [time](7) NOT NULL,
	[HoraFin] [time](7) NULL,
	[Estado] [varchar](20) NOT NULL,
	[Observaciones] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReservaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Rutina] Fecha de script: 4/09/2026 18:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rutina](
	[RutinaID] [int] IDENTITY(1,1) NOT NULL,
	[ClienteID] [int] NOT NULL,
	[EntrenadorID] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Objetivo] [varchar](250) NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RutinaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[RutinaRealizada] Fecha de script: 4/09/2026 18:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RutinaRealizada](
	[RutinaRealizadaID] [int] IDENTITY(1,1) NOT NULL,
	[RutinaID] [int] NOT NULL,
	[ClienteID] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[DuracionMinutos] [int] NULL,
	[CaloriasQuemadas] [decimal](10, 2) NULL,
	[Observaciones] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[RutinaRealizadaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Servicio] Fecha de script: 4/09/2026 18:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicio](
	[ServicioID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](250) NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServicioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuario] Fecha de script: 4/09/2026 18:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[Correo] [varchar](100) NOT NULL,
	[Contrasena] [varchar](255) NOT NULL,
	[Rol] [varchar](20) NOT NULL,
	[Estado] [bit] NOT NULL,
	[FechaRegistro] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AreaGimnasio] ON 

INSERT [dbo].[AreaGimnasio] ([AreaID], [Nombre], [Descripcion], [Estado]) VALUES (1, N'ZONA CARDIOVASCULAR', N'Área destinada a ejercicios cardiovasculares', 1)
INSERT [dbo].[AreaGimnasio] ([AreaID], [Nombre], [Descripcion], [Estado]) VALUES (2, N'PESAS LIBRES Y MAQUINAS', N'Área de entrenamiento con pesas y máquinas', 1)
INSERT [dbo].[AreaGimnasio] ([AreaID], [Nombre], [Descripcion], [Estado]) VALUES (3, N'AREA FUNCIONAL', N'Área destinada al entrenamiento funcional', 1)
SET IDENTITY_INSERT [dbo].[AreaGimnasio] OFF
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([ClienteID], [UsuarioID], [Nombres], [Apellidos], [Telefono], [FechaNacimiento], [FechaRegistro], [Estado]) VALUES (1, 5, N'Ana', N'López', N'55510001', CAST(N'2000-03-15' AS Date), CAST(N'2026-09-04T17:10:51.3269619' AS DateTime2), 1)
INSERT [dbo].[Cliente] ([ClienteID], [UsuarioID], [Nombres], [Apellidos], [Telefono], [FechaNacimiento], [FechaRegistro], [Estado]) VALUES (2, 6, N'Luis', N'Hernández', N'55510002', CAST(N'1998-07-20' AS Date), CAST(N'2026-09-04T17:10:51.3269619' AS DateTime2), 1)
INSERT [dbo].[Cliente] ([ClienteID], [UsuarioID], [Nombres], [Apellidos], [Telefono], [FechaNacimiento], [FechaRegistro], [Estado]) VALUES (3, 7, N'Sofía', N'García', N'55510003', CAST(N'2001-11-05' AS Date), CAST(N'2026-09-04T17:10:51.3269619' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[Entrenador] ON 

INSERT [dbo].[Entrenador] ([EntrenadorID], [UsuarioID], [Nombres], [Apellidos], [Telefono], [Especialidad], [Estado]) VALUES (1, 2, N'Carlos', N'Pérez', N'55520001', N'Entrenamiento de fuerza', 1)
INSERT [dbo].[Entrenador] ([EntrenadorID], [UsuarioID], [Nombres], [Apellidos], [Telefono], [Especialidad], [Estado]) VALUES (2, 3, N'María', N'Gómez', N'55520002', N'Entrenamiento funcional', 1)
INSERT [dbo].[Entrenador] ([EntrenadorID], [UsuarioID], [Nombres], [Apellidos], [Telefono], [Especialidad], [Estado]) VALUES (3, 4, N'José', N'Castillo', N'55520003', N'Cardio y acondicionamiento', 1)
SET IDENTITY_INSERT [dbo].[Entrenador] OFF
GO
SET IDENTITY_INSERT [dbo].[GrupoMuscular] ON 

INSERT [dbo].[GrupoMuscular] ([GrupoMuscularID], [Nombre], [Descripcion]) VALUES (1, N'PECHO', N'Músculos de la región pectoral')
INSERT [dbo].[GrupoMuscular] ([GrupoMuscularID], [Nombre], [Descripcion]) VALUES (2, N'ESPALDA', N'Músculos de la espalda')
INSERT [dbo].[GrupoMuscular] ([GrupoMuscularID], [Nombre], [Descripcion]) VALUES (3, N'PIERNAS', N'Músculos de las extremidades inferiores')
SET IDENTITY_INSERT [dbo].[GrupoMuscular] OFF
GO
SET IDENTITY_INSERT [dbo].[Membresia] ON 

INSERT [dbo].[Membresia] ([MembresiaID], [ClienteID], [TipoMembresiaID], [FechaInicio], [FechaVencimiento], [Precio], [Estado]) VALUES (2, 1, 1, CAST(N'2026-08-01' AS Date), CAST(N'2026-09-01' AS Date), CAST(200.00 AS Decimal(10, 2)), N'ACTIVA')
INSERT [dbo].[Membresia] ([MembresiaID], [ClienteID], [TipoMembresiaID], [FechaInicio], [FechaVencimiento], [Precio], [Estado]) VALUES (3, 2, 2, CAST(N'2026-07-01' AS Date), CAST(N'2026-10-01' AS Date), CAST(550.00 AS Decimal(10, 2)), N'ACTIVA')
INSERT [dbo].[Membresia] ([MembresiaID], [ClienteID], [TipoMembresiaID], [FechaInicio], [FechaVencimiento], [Precio], [Estado]) VALUES (4, 3, 3, CAST(N'2026-01-01' AS Date), CAST(N'2027-01-01' AS Date), CAST(1800.00 AS Decimal(10, 2)), N'ACTIVA')
SET IDENTITY_INSERT [dbo].[Membresia] OFF
GO
SET IDENTITY_INSERT [dbo].[NivelDificultad] ON 

INSERT [dbo].[NivelDificultad] ([NivelDificultadID], [Nombre], [Descripcion]) VALUES (1, N'PRINCIPIANTE', N'Ejercicios adecuados para principiantes')
INSERT [dbo].[NivelDificultad] ([NivelDificultadID], [Nombre], [Descripcion]) VALUES (2, N'INTERMEDIO', N'Ejercicios de dificultad intermedia')
INSERT [dbo].[NivelDificultad] ([NivelDificultadID], [Nombre], [Descripcion]) VALUES (3, N'AVANZADO', N'Ejercicios de alta dificultad')
SET IDENTITY_INSERT [dbo].[NivelDificultad] OFF
GO
SET IDENTITY_INSERT [dbo].[Servicio] ON 

INSERT [dbo].[Servicio] ([ServicioID], [Nombre], [Descripcion], [Precio], [Estado]) VALUES (1, N'CLASES GRUPALES', N'Acceso a clases grupales', CAST(50.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Servicio] ([ServicioID], [Nombre], [Descripcion], [Precio], [Estado]) VALUES (2, N'ENTRENAMIENTO PERSONALIZADO', N'Entrenamiento individual con entrenador', CAST(100.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Servicio] ([ServicioID], [Nombre], [Descripcion], [Precio], [Estado]) VALUES (3, N'USO DE AREAS', N'Acceso a las áreas y equipamiento del gimnasio', CAST(0.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[Servicio] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoMembresia] ON 

INSERT [dbo].[TipoMembresia] ([TipoMembresiaID], [Nombre], [DuracionMeses], [Precio], [Descripcion], [Estado]) VALUES (1, N'MENSUAL', 1, CAST(200.00 AS Decimal(10, 2)), N'Membresía con duración de un mes', 1)
INSERT [dbo].[TipoMembresia] ([TipoMembresiaID], [Nombre], [DuracionMeses], [Precio], [Descripcion], [Estado]) VALUES (2, N'TRIMESTRAL', 3, CAST(550.00 AS Decimal(10, 2)), N'Membresía con duración de tres meses', 1)
INSERT [dbo].[TipoMembresia] ([TipoMembresiaID], [Nombre], [DuracionMeses], [Precio], [Descripcion], [Estado]) VALUES (3, N'ANUAL', 12, CAST(1800.00 AS Decimal(10, 2)), N'Membresía con duración de un año', 1)
SET IDENTITY_INSERT [dbo].[TipoMembresia] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([UsuarioID], [NombreUsuario], [Correo], [Contrasena], [Rol], [Estado], [FechaRegistro]) VALUES (1, N'admin_gimnasio', N'admin@gimnasio.com', N'Admin123', N'ADMINISTRADOR', 1, CAST(N'2026-09-04T17:09:39.4890126' AS DateTime2))
INSERT [dbo].[Usuario] ([UsuarioID], [NombreUsuario], [Correo], [Contrasena], [Rol], [Estado], [FechaRegistro]) VALUES (2, N'entrenador_carlos', N'carlos@gimnasio.com', N'Entrenador123', N'ENTRENADOR', 1, CAST(N'2026-09-04T17:09:39.4890126' AS DateTime2))
INSERT [dbo].[Usuario] ([UsuarioID], [NombreUsuario], [Correo], [Contrasena], [Rol], [Estado], [FechaRegistro]) VALUES (3, N'entrenador_maria', N'maria@gimnasio.com', N'Entrenador123', N'ENTRENADOR', 1, CAST(N'2026-09-04T17:09:39.4890126' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__AreaGimn__75E3EFCF5BAA99FB] Fecha de script: 4/09/2026 18:11:51 ******/
ALTER TABLE [dbo].[AreaGimnasio] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Asistencia_Cliente_Fecha] Fecha de script: 4/09/2026 18:11:51 ******/
CREATE NONCLUSTERED INDEX [IX_Asistencia_Cliente_Fecha] ON [dbo].[Asistencia]
(
	[ClienteID] ASC,
	[Fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ__Cliente__2B3DE79964149FAE] Fecha de script: 4/09/2026 18:11:51 ******/
ALTER TABLE [dbo].[Cliente] ADD UNIQUE NONCLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ_DiaRutina_Rutina_Orden] Fecha de script: 4/09/2026 18:11:51 ******/
ALTER TABLE [dbo].[DiaRutina] ADD  CONSTRAINT [UQ_DiaRutina_Rutina_Orden] UNIQUE NONCLUSTERED 
(
	[RutinaID] ASC,
	[OrdenDia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Ejercici__75E3EFCFC6993398] Fecha de script: 4/09/2026 18:11:51 ******/
ALTER TABLE [dbo].[Ejercicio] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Ejercicio_GrupoMuscular] Fecha de script: 4/09/2026 18:11:51 ******/
CREATE NONCLUSTERED INDEX [IX_Ejercicio_GrupoMuscular] ON [dbo].[Ejercicio]
(
	[GrupoMuscularID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ__Entrenad__2B3DE79934F36EA4] Fecha de script: 4/09/2026 18:11:51 ******/
ALTER TABLE [dbo].[Entrenador] ADD UNIQUE NONCLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Equipamiento_Area_Nombre] Fecha de script: 4/09/2026 18:11:51 ******/
ALTER TABLE [dbo].[Equipamiento] ADD  CONSTRAINT [UQ_Equipamiento_Area_Nombre] UNIQUE NONCLUSTERED 
(
	[AreaID] ASC,
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Factura__CF12F9A647546BBC] Fecha de script: 4/09/2026 18:11:51 ******/
ALTER TABLE [dbo].[Factura] ADD UNIQUE NONCLUSTERED 
(
	[NumeroFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ__Factura__F00B6159F17EF9FD] Fecha de script: 4/09/2026 18:11:51 ******/
ALTER TABLE [dbo].[Factura] ADD UNIQUE NONCLUSTERED 
(
	[PagoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__GrupoMus__75E3EFCF8B1FB3B4] Fecha de script: 4/09/2026 18:11:51 ******/
ALTER TABLE [dbo].[GrupoMuscular] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ_Inscripcion_Cliente_Clase] Fecha de script: 4/09/2026 18:11:51 ******/
ALTER TABLE [dbo].[InscripcionClase] ADD  CONSTRAINT [UQ_Inscripcion_Cliente_Clase] UNIQUE NONCLUSTERED 
(
	[ClaseID] ASC,
	[ClienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_InscripcionClase_Cliente] Fecha de script: 4/09/2026 18:11:51 ******/
CREATE NONCLUSTERED INDEX [IX_InscripcionClase_Cliente] ON [dbo].[InscripcionClase]
(
	[ClienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Membresia_Cliente] Fecha de script: 4/09/2026 18:11:51 ******/
CREATE NONCLUSTERED INDEX [IX_Membresia_Cliente] ON [dbo].[Membresia]
(
	[ClienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Membresia_FechaVencimiento] Fecha de script: 4/09/2026 18:11:51 ******/
CREATE NONCLUSTERED INDEX [IX_Membresia_FechaVencimiento] ON [dbo].[Membresia]
(
	[FechaVencimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__NivelDif__75E3EFCF31CBECB2] Fecha de script: 4/09/2026 18:11:51 ******/
ALTER TABLE [dbo].[NivelDificultad] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Pago_FechaPago] Fecha de script: 4/09/2026 18:11:51 ******/
CREATE NONCLUSTERED INDEX [IX_Pago_FechaPago] ON [dbo].[Pago]
(
	[FechaPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Reserva_Cliente_Fecha] Fecha de script: 4/09/2026 18:11:51 ******/
CREATE NONCLUSTERED INDEX [IX_Reserva_Cliente_Fecha] ON [dbo].[Reserva]
(
	[ClienteID] ASC,
	[Fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Rutina_Cliente] Fecha de script: 4/09/2026 18:11:51 ******/
CREATE NONCLUSTERED INDEX [IX_Rutina_Cliente] ON [dbo].[Rutina]
(
	[ClienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Rutina_Entrenador] Fecha de script: 4/09/2026 18:11:51 ******/
CREATE NONCLUSTERED INDEX [IX_Rutina_Entrenador] ON [dbo].[Rutina]
(
	[EntrenadorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_RutinaRealizada_Cliente_Fecha] Fecha de script: 4/09/2026 18:11:51 ******/
CREATE NONCLUSTERED INDEX [IX_RutinaRealizada_Cliente_Fecha] ON [dbo].[RutinaRealizada]
(
	[ClienteID] ASC,
	[Fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Servicio__75E3EFCFFFC54C26] Fecha de script: 4/09/2026 18:11:51 ******/
ALTER TABLE [dbo].[Servicio] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__TipoMemb__75E3EFCF589AB86F] Fecha de script: 4/09/2026 18:11:51 ******/
ALTER TABLE [dbo].[TipoMembresia] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Usuario__60695A19F8AEA203] Fecha de script: 4/09/2026 18:11:51 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Usuario__6B0F5AE04E26634A] Fecha de script: 4/09/2026 18:11:51 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AreaGimnasio] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[AsignacionEntrenador] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Asistencia] ADD  DEFAULT ('VALIDADA') FOR [Estado]
GO
ALTER TABLE [dbo].[Clase] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT (sysdatetime()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Descuento] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Ejercicio] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Entrenador] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Equipamiento] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Factura] ADD  DEFAULT (sysdatetime()) FOR [FechaEmision]
GO
ALTER TABLE [dbo].[InscripcionClase] ADD  DEFAULT (sysdatetime()) FOR [FechaInscripcion]
GO
ALTER TABLE [dbo].[InscripcionClase] ADD  DEFAULT ('ACTIVA') FOR [Estado]
GO
ALTER TABLE [dbo].[Membresia] ADD  DEFAULT ('ACTIVA') FOR [Estado]
GO
ALTER TABLE [dbo].[Notificacion] ADD  DEFAULT (sysdatetime()) FOR [FechaEnvio]
GO
ALTER TABLE [dbo].[Notificacion] ADD  DEFAULT ((0)) FOR [Leida]
GO
ALTER TABLE [dbo].[Pago] ADD  DEFAULT (sysdatetime()) FOR [FechaPago]
GO
ALTER TABLE [dbo].[Pago] ADD  DEFAULT ((0)) FOR [MontoDescuento]
GO
ALTER TABLE [dbo].[Pago] ADD  DEFAULT ('PAGADO') FOR [Estado]
GO
ALTER TABLE [dbo].[Reserva] ADD  DEFAULT ('PENDIENTE') FOR [Estado]
GO
ALTER TABLE [dbo].[Rutina] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[RutinaEjercicio] ADD  DEFAULT ((60)) FOR [DescansoSegundos]
GO
ALTER TABLE [dbo].[Servicio] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[TipoMembresia] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT (sysdatetime()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[AsignacionEntrenador]  WITH CHECK ADD  CONSTRAINT [FK_Asignacion_Cliente] FOREIGN KEY([ClienteID])
REFERENCES [dbo].[Cliente] ([ClienteID])
GO
ALTER TABLE [dbo].[AsignacionEntrenador] CHECK CONSTRAINT [FK_Asignacion_Cliente]
GO
ALTER TABLE [dbo].[AsignacionEntrenador]  WITH CHECK ADD  CONSTRAINT [FK_Asignacion_Entrenador] FOREIGN KEY([EntrenadorID])
REFERENCES [dbo].[Entrenador] ([EntrenadorID])
GO
ALTER TABLE [dbo].[AsignacionEntrenador] CHECK CONSTRAINT [FK_Asignacion_Entrenador]
GO
ALTER TABLE [dbo].[Asistencia]  WITH CHECK ADD  CONSTRAINT [FK_Asistencia_Cliente] FOREIGN KEY([ClienteID])
REFERENCES [dbo].[Cliente] ([ClienteID])
GO
ALTER TABLE [dbo].[Asistencia] CHECK CONSTRAINT [FK_Asistencia_Cliente]
GO
ALTER TABLE [dbo].[Clase]  WITH CHECK ADD  CONSTRAINT [FK_Clase_Servicio] FOREIGN KEY([ServicioID])
REFERENCES [dbo].[Servicio] ([ServicioID])
GO
ALTER TABLE [dbo].[Clase] CHECK CONSTRAINT [FK_Clase_Servicio]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_Usuario]
GO
ALTER TABLE [dbo].[DiaRutina]  WITH CHECK ADD  CONSTRAINT [FK_DiaRutina_Rutina] FOREIGN KEY([RutinaID])
REFERENCES [dbo].[Rutina] ([RutinaID])
GO
ALTER TABLE [dbo].[DiaRutina] CHECK CONSTRAINT [FK_DiaRutina_Rutina]
GO
ALTER TABLE [dbo].[Ejercicio]  WITH CHECK ADD  CONSTRAINT [FK_Ejercicio_Equipamiento] FOREIGN KEY([EquipamientoID])
REFERENCES [dbo].[Equipamiento] ([EquipamientoID])
GO
ALTER TABLE [dbo].[Ejercicio] CHECK CONSTRAINT [FK_Ejercicio_Equipamiento]
GO
ALTER TABLE [dbo].[Ejercicio]  WITH CHECK ADD  CONSTRAINT [FK_Ejercicio_Grupo] FOREIGN KEY([GrupoMuscularID])
REFERENCES [dbo].[GrupoMuscular] ([GrupoMuscularID])
GO
ALTER TABLE [dbo].[Ejercicio] CHECK CONSTRAINT [FK_Ejercicio_Grupo]
GO
ALTER TABLE [dbo].[Ejercicio]  WITH CHECK ADD  CONSTRAINT [FK_Ejercicio_Nivel] FOREIGN KEY([NivelDificultadID])
REFERENCES [dbo].[NivelDificultad] ([NivelDificultadID])
GO
ALTER TABLE [dbo].[Ejercicio] CHECK CONSTRAINT [FK_Ejercicio_Nivel]
GO
ALTER TABLE [dbo].[Entrenador]  WITH CHECK ADD  CONSTRAINT [FK_Entrenador_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
GO
ALTER TABLE [dbo].[Entrenador] CHECK CONSTRAINT [FK_Entrenador_Usuario]
GO
ALTER TABLE [dbo].[Equipamiento]  WITH CHECK ADD  CONSTRAINT [FK_Equipamiento_Area] FOREIGN KEY([AreaID])
REFERENCES [dbo].[AreaGimnasio] ([AreaID])
GO
ALTER TABLE [dbo].[Equipamiento] CHECK CONSTRAINT [FK_Equipamiento_Area]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Pago] FOREIGN KEY([PagoID])
REFERENCES [dbo].[Pago] ([PagoID])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_Pago]
GO
ALTER TABLE [dbo].[HorarioClase]  WITH CHECK ADD  CONSTRAINT [FK_HorarioClase_Clase] FOREIGN KEY([ClaseID])
REFERENCES [dbo].[Clase] ([ClaseID])
GO
ALTER TABLE [dbo].[HorarioClase] CHECK CONSTRAINT [FK_HorarioClase_Clase]
GO
ALTER TABLE [dbo].[HorarioClase]  WITH CHECK ADD  CONSTRAINT [FK_HorarioClase_Entrenador] FOREIGN KEY([EntrenadorID])
REFERENCES [dbo].[Entrenador] ([EntrenadorID])
GO
ALTER TABLE [dbo].[HorarioClase] CHECK CONSTRAINT [FK_HorarioClase_Entrenador]
GO
ALTER TABLE [dbo].[InscripcionClase]  WITH CHECK ADD  CONSTRAINT [FK_Inscripcion_Clase] FOREIGN KEY([ClaseID])
REFERENCES [dbo].[Clase] ([ClaseID])
GO
ALTER TABLE [dbo].[InscripcionClase] CHECK CONSTRAINT [FK_Inscripcion_Clase]
GO
ALTER TABLE [dbo].[InscripcionClase]  WITH CHECK ADD  CONSTRAINT [FK_Inscripcion_Cliente] FOREIGN KEY([ClienteID])
REFERENCES [dbo].[Cliente] ([ClienteID])
GO
ALTER TABLE [dbo].[InscripcionClase] CHECK CONSTRAINT [FK_Inscripcion_Cliente]
GO
ALTER TABLE [dbo].[Membresia]  WITH CHECK ADD  CONSTRAINT [FK_Membresia_Cliente] FOREIGN KEY([ClienteID])
REFERENCES [dbo].[Cliente] ([ClienteID])
GO
ALTER TABLE [dbo].[Membresia] CHECK CONSTRAINT [FK_Membresia_Cliente]
GO
ALTER TABLE [dbo].[Membresia]  WITH CHECK ADD  CONSTRAINT [FK_Membresia_Tipo] FOREIGN KEY([TipoMembresiaID])
REFERENCES [dbo].[TipoMembresia] ([TipoMembresiaID])
GO
ALTER TABLE [dbo].[Membresia] CHECK CONSTRAINT [FK_Membresia_Tipo]
GO
ALTER TABLE [dbo].[Notificacion]  WITH CHECK ADD  CONSTRAINT [FK_Notificacion_Cliente] FOREIGN KEY([ClienteID])
REFERENCES [dbo].[Cliente] ([ClienteID])
GO
ALTER TABLE [dbo].[Notificacion] CHECK CONSTRAINT [FK_Notificacion_Cliente]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_Descuento] FOREIGN KEY([DescuentoID])
REFERENCES [dbo].[Descuento] ([DescuentoID])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK_Pago_Descuento]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_Membresia] FOREIGN KEY([MembresiaID])
REFERENCES [dbo].[Membresia] ([MembresiaID])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK_Pago_Membresia]
GO
ALTER TABLE [dbo].[ProgresoCliente]  WITH CHECK ADD  CONSTRAINT [FK_Progreso_Cliente] FOREIGN KEY([ClienteID])
REFERENCES [dbo].[Cliente] ([ClienteID])
GO
ALTER TABLE [dbo].[ProgresoCliente] CHECK CONSTRAINT [FK_Progreso_Cliente]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Cliente] FOREIGN KEY([ClienteID])
REFERENCES [dbo].[Cliente] ([ClienteID])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Cliente]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Servicio] FOREIGN KEY([ServicioID])
REFERENCES [dbo].[Servicio] ([ServicioID])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Servicio]
GO
ALTER TABLE [dbo].[Rutina]  WITH CHECK ADD  CONSTRAINT [FK_Rutina_Cliente] FOREIGN KEY([ClienteID])
REFERENCES [dbo].[Cliente] ([ClienteID])
GO
ALTER TABLE [dbo].[Rutina] CHECK CONSTRAINT [FK_Rutina_Cliente]
GO
ALTER TABLE [dbo].[Rutina]  WITH CHECK ADD  CONSTRAINT [FK_Rutina_Entrenador] FOREIGN KEY([EntrenadorID])
REFERENCES [dbo].[Entrenador] ([EntrenadorID])
GO
ALTER TABLE [dbo].[Rutina] CHECK CONSTRAINT [FK_Rutina_Entrenador]
GO
ALTER TABLE [dbo].[RutinaEjercicio]  WITH CHECK ADD  CONSTRAINT [FK_RutinaEjercicio_Dia] FOREIGN KEY([DiaRutinaID])
REFERENCES [dbo].[DiaRutina] ([DiaRutinaID])
GO
ALTER TABLE [dbo].[RutinaEjercicio] CHECK CONSTRAINT [FK_RutinaEjercicio_Dia]
GO
ALTER TABLE [dbo].[RutinaEjercicio]  WITH CHECK ADD  CONSTRAINT [FK_RutinaEjercicio_Ejercicio] FOREIGN KEY([EjercicioID])
REFERENCES [dbo].[Ejercicio] ([EjercicioID])
GO
ALTER TABLE [dbo].[RutinaEjercicio] CHECK CONSTRAINT [FK_RutinaEjercicio_Ejercicio]
GO
ALTER TABLE [dbo].[RutinaRealizada]  WITH CHECK ADD  CONSTRAINT [FK_RutinaRealizada_Cliente] FOREIGN KEY([ClienteID])
REFERENCES [dbo].[Cliente] ([ClienteID])
GO
ALTER TABLE [dbo].[RutinaRealizada] CHECK CONSTRAINT [FK_RutinaRealizada_Cliente]
GO
ALTER TABLE [dbo].[RutinaRealizada]  WITH CHECK ADD  CONSTRAINT [FK_RutinaRealizada_Rutina] FOREIGN KEY([RutinaID])
REFERENCES [dbo].[Rutina] ([RutinaID])
GO
ALTER TABLE [dbo].[RutinaRealizada] CHECK CONSTRAINT [FK_RutinaRealizada_Rutina]
GO
ALTER TABLE [dbo].[AsignacionEntrenador]  WITH CHECK ADD  CONSTRAINT [CK_Asignacion_Fechas] CHECK  (([FechaFin] IS NULL OR [FechaFin]>=[FechaInicio]))
GO
ALTER TABLE [dbo].[AsignacionEntrenador] CHECK CONSTRAINT [CK_Asignacion_Fechas]
GO
ALTER TABLE [dbo].[Asistencia]  WITH CHECK ADD  CONSTRAINT [CK_Asistencia_Estado] CHECK  (([Estado]='RECHAZADA' OR [Estado]='VALIDADA'))
GO
ALTER TABLE [dbo].[Asistencia] CHECK CONSTRAINT [CK_Asistencia_Estado]
GO
ALTER TABLE [dbo].[Asistencia]  WITH CHECK ADD  CONSTRAINT [CK_Asistencia_Horas] CHECK  (([HoraSalida] IS NULL OR [HoraSalida]>=[HoraEntrada]))
GO
ALTER TABLE [dbo].[Asistencia] CHECK CONSTRAINT [CK_Asistencia_Horas]
GO
ALTER TABLE [dbo].[Clase]  WITH CHECK ADD  CONSTRAINT [CK_Clase_Cupo] CHECK  (([CupoMaximo]>(0)))
GO
ALTER TABLE [dbo].[Clase] CHECK CONSTRAINT [CK_Clase_Cupo]
GO
ALTER TABLE [dbo].[Descuento]  WITH CHECK ADD  CONSTRAINT [CK_Descuento_Fechas] CHECK  (([FechaFin] IS NULL OR [FechaFin]>=[FechaInicio]))
GO
ALTER TABLE [dbo].[Descuento] CHECK CONSTRAINT [CK_Descuento_Fechas]
GO
ALTER TABLE [dbo].[Descuento]  WITH CHECK ADD  CONSTRAINT [CK_Descuento_Porcentaje] CHECK  (([Porcentaje]>=(0) AND [Porcentaje]<=(100)))
GO
ALTER TABLE [dbo].[Descuento] CHECK CONSTRAINT [CK_Descuento_Porcentaje]
GO
ALTER TABLE [dbo].[DiaRutina]  WITH CHECK ADD  CONSTRAINT [CK_DiaRutina_Dia] CHECK  (([DiaSemana]='DOMINGO' OR [DiaSemana]='SABADO' OR [DiaSemana]='VIERNES' OR [DiaSemana]='JUEVES' OR [DiaSemana]='MIERCOLES' OR [DiaSemana]='MARTES' OR [DiaSemana]='LUNES'))
GO
ALTER TABLE [dbo].[DiaRutina] CHECK CONSTRAINT [CK_DiaRutina_Dia]
GO
ALTER TABLE [dbo].[DiaRutina]  WITH CHECK ADD  CONSTRAINT [CK_DiaRutina_Orden] CHECK  (([OrdenDia]>(0)))
GO
ALTER TABLE [dbo].[DiaRutina] CHECK CONSTRAINT [CK_DiaRutina_Orden]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [CK_Factura_Total] CHECK  (([Total]>=(0)))
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [CK_Factura_Total]
GO
ALTER TABLE [dbo].[HorarioClase]  WITH CHECK ADD  CONSTRAINT [CK_HorarioClase_Horas] CHECK  (([HoraFin]>[HoraInicio]))
GO
ALTER TABLE [dbo].[HorarioClase] CHECK CONSTRAINT [CK_HorarioClase_Horas]
GO
ALTER TABLE [dbo].[InscripcionClase]  WITH CHECK ADD  CONSTRAINT [CK_Inscripcion_Estado] CHECK  (([Estado]='FINALIZADA' OR [Estado]='CANCELADA' OR [Estado]='ACTIVA'))
GO
ALTER TABLE [dbo].[InscripcionClase] CHECK CONSTRAINT [CK_Inscripcion_Estado]
GO
ALTER TABLE [dbo].[Membresia]  WITH CHECK ADD  CONSTRAINT [CK_Membresia_Estado] CHECK  (([Estado]='VENCIDA' OR [Estado]='SUSPENDIDA' OR [Estado]='ACTIVA'))
GO
ALTER TABLE [dbo].[Membresia] CHECK CONSTRAINT [CK_Membresia_Estado]
GO
ALTER TABLE [dbo].[Membresia]  WITH CHECK ADD  CONSTRAINT [CK_Membresia_Fechas] CHECK  (([FechaVencimiento]>=[FechaInicio]))
GO
ALTER TABLE [dbo].[Membresia] CHECK CONSTRAINT [CK_Membresia_Fechas]
GO
ALTER TABLE [dbo].[Membresia]  WITH CHECK ADD  CONSTRAINT [CK_Membresia_Precio] CHECK  (([Precio]>=(0)))
GO
ALTER TABLE [dbo].[Membresia] CHECK CONSTRAINT [CK_Membresia_Precio]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [CK_Pago_Estado] CHECK  (([Estado]='ANULADO' OR [Estado]='PAGADO'))
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [CK_Pago_Estado]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [CK_Pago_Metodo] CHECK  (([MetodoPago]='TRANSFERENCIA' OR [MetodoPago]='TARJETA' OR [MetodoPago]='EFECTIVO'))
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [CK_Pago_Metodo]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [CK_Pago_MontoDescuento] CHECK  (([MontoDescuento]>=(0)))
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [CK_Pago_MontoDescuento]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [CK_Pago_MontoOriginal] CHECK  (([MontoOriginal]>=(0)))
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [CK_Pago_MontoOriginal]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [CK_Pago_MontoPagado] CHECK  (([MontoPagado]>=(0)))
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [CK_Pago_MontoPagado]
GO
ALTER TABLE [dbo].[ProgresoCliente]  WITH CHECK ADD  CONSTRAINT [CK_Progreso_Peso] CHECK  (([Peso] IS NULL OR [Peso]>(0)))
GO
ALTER TABLE [dbo].[ProgresoCliente] CHECK CONSTRAINT [CK_Progreso_Peso]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [CK_Reserva_Estado] CHECK  (([Estado]='FINALIZADA' OR [Estado]='CANCELADA' OR [Estado]='CONFIRMADA' OR [Estado]='PENDIENTE'))
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [CK_Reserva_Estado]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [CK_Reserva_Horas] CHECK  (([HoraFin] IS NULL OR [HoraFin]>[HoraInicio]))
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [CK_Reserva_Horas]
GO
ALTER TABLE [dbo].[Rutina]  WITH CHECK ADD  CONSTRAINT [CK_Rutina_Fechas] CHECK  (([FechaFin] IS NULL OR [FechaFin]>=[FechaInicio]))
GO
ALTER TABLE [dbo].[Rutina] CHECK CONSTRAINT [CK_Rutina_Fechas]
GO
ALTER TABLE [dbo].[RutinaEjercicio]  WITH CHECK ADD  CONSTRAINT [CK_RutinaEjercicio_Descanso] CHECK  (([DescansoSegundos]>=(0)))
GO
ALTER TABLE [dbo].[RutinaEjercicio] CHECK CONSTRAINT [CK_RutinaEjercicio_Descanso]
GO
ALTER TABLE [dbo].[RutinaEjercicio]  WITH CHECK ADD  CONSTRAINT [CK_RutinaEjercicio_Repeticiones] CHECK  (([Repeticiones]>(0)))
GO
ALTER TABLE [dbo].[RutinaEjercicio] CHECK CONSTRAINT [CK_RutinaEjercicio_Repeticiones]
GO
ALTER TABLE [dbo].[RutinaEjercicio]  WITH CHECK ADD  CONSTRAINT [CK_RutinaEjercicio_Series] CHECK  (([Series]>(0)))
GO
ALTER TABLE [dbo].[RutinaEjercicio] CHECK CONSTRAINT [CK_RutinaEjercicio_Series]
GO
ALTER TABLE [dbo].[RutinaRealizada]  WITH CHECK ADD  CONSTRAINT [CK_RutinaRealizada_Calorias] CHECK  (([CaloriasQuemadas] IS NULL OR [CaloriasQuemadas]>=(0)))
GO
ALTER TABLE [dbo].[RutinaRealizada] CHECK CONSTRAINT [CK_RutinaRealizada_Calorias]
GO
ALTER TABLE [dbo].[RutinaRealizada]  WITH CHECK ADD  CONSTRAINT [CK_RutinaRealizada_Duracion] CHECK  (([DuracionMinutos] IS NULL OR [DuracionMinutos]>(0)))
GO
ALTER TABLE [dbo].[RutinaRealizada] CHECK CONSTRAINT [CK_RutinaRealizada_Duracion]
GO
ALTER TABLE [dbo].[Servicio]  WITH CHECK ADD  CONSTRAINT [CK_Servicio_Precio] CHECK  (([Precio]>=(0)))
GO
ALTER TABLE [dbo].[Servicio] CHECK CONSTRAINT [CK_Servicio_Precio]
GO
ALTER TABLE [dbo].[TipoMembresia]  WITH CHECK ADD  CONSTRAINT [CK_TipoMembresia_Duracion] CHECK  (([DuracionMeses]>(0)))
GO
ALTER TABLE [dbo].[TipoMembresia] CHECK CONSTRAINT [CK_TipoMembresia_Duracion]
GO
ALTER TABLE [dbo].[TipoMembresia]  WITH CHECK ADD  CONSTRAINT [CK_TipoMembresia_Precio] CHECK  (([Precio]>=(0)))
GO
ALTER TABLE [dbo].[TipoMembresia] CHECK CONSTRAINT [CK_TipoMembresia_Precio]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [CK_Usuario_Rol] CHECK  (([Rol]='CLIENTE' OR [Rol]='ENTRENADOR' OR [Rol]='ADMINISTRADOR'))
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [CK_Usuario_Rol]
GO
/****** Objeto: StoredProcedure [dbo].[sp_ActualizarMembresiasVencidas] Fecha de script: 4/09/2026 18:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_ActualizarMembresiasVencidas]
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Membresia
    SET Estado = 'VENCIDA'
    WHERE Estado = 'ACTIVA'
      AND FechaVencimiento < CAST(GETDATE() AS DATE);
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_RegistrarAsistencia] Fecha de script: 4/09/2026 18:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_RegistrarAsistencia]
    @ClienteID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @MembresiaValida INT;

    SELECT TOP 1
        @MembresiaValida = MembresiaID
    FROM Membresia
    WHERE ClienteID = @ClienteID
      AND Estado = 'ACTIVA'
      AND FechaInicio <= CAST(GETDATE() AS DATE)
      AND FechaVencimiento >= CAST(GETDATE() AS DATE)
    ORDER BY FechaVencimiento DESC;

    IF @MembresiaValida IS NULL
    BEGIN
        INSERT INTO Asistencia
        (
            ClienteID,
            Fecha,
            HoraEntrada,
            Estado
        )
        VALUES
        (
            @ClienteID,
            CAST(GETDATE() AS DATE),
            CAST(GETDATE() AS TIME),
            'RECHAZADA'
        );

        PRINT 'Acceso rechazado: el cliente no posee una membresía vigente.';
        RETURN;
    END;

    INSERT INTO Asistencia
    (
        ClienteID,
        Fecha,
        HoraEntrada,
        Estado
    )
    VALUES
    (
        @ClienteID,
        CAST(GETDATE() AS DATE),
        CAST(GETDATE() AS TIME),
        'VALIDADA'
    );

    PRINT 'Acceso permitido.';
END;
GO
USE [master]
GO
