USE [GimnasioDB]
GO
/****** Objeto: Table [dbo].[RutinaEjercicio] Fecha de script: 22/09/2026 18:41:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RutinaEjercicio](
	[RutinaEjercicioID] [int] IDENTITY(1,1) NOT NULL,
	[DiaRutinaID] [int] NOT NULL,
	[EjercicioID] [int] NOT NULL,
	[Series] [int] NOT NULL,
	[Repeticiones] [int] NOT NULL,
	[DescansoSegundos] [int] NOT NULL,
	[Observaciones] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[RutinaEjercicioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RutinaEjercicio] ADD  DEFAULT ((60)) FOR [DescansoSegundos]
GO
ALTER TABLE [dbo].[RutinaEjercicio]  WITH CHECK ADD  CONSTRAINT [FK_RutinaEjercicio_Dia] FOREIGN KEY([DiaRutinaID])
REFERENCES [dbo].[DiaRutina] ([DiaRutinaID])
GO
ALTER TABLE [dbo].[RutinaEjercicio] CHECK CONSTRAINT [FK_RutinaEjercicio_Dia]
GO
ALTER TABLE [dbo].[RutinaEjercicio]  WITH CHECK ADD  CONSTRAINT [FK_RutinaEjercicio_Ejercicio] FOREIGN KEY([EjercicioID])
REFERENCES [dbo].[Ejercicio] ([EjercicioID])
GO
ALTER TABLE [dbo].[RutinaEjercicio] CHECK CONSTRAINT [FK_RutinaEjercicio_Ejercicio]
GO
ALTER TABLE [dbo].[RutinaEjercicio]  WITH CHECK ADD  CONSTRAINT [CK_RutinaEjercicio_Descanso] CHECK  (([DescansoSegundos]>=(0)))
GO
ALTER TABLE [dbo].[RutinaEjercicio] CHECK CONSTRAINT [CK_RutinaEjercicio_Descanso]
GO
ALTER TABLE [dbo].[RutinaEjercicio]  WITH CHECK ADD  CONSTRAINT [CK_RutinaEjercicio_Repeticiones] CHECK  (([Repeticiones]>(0)))
GO
ALTER TABLE [dbo].[RutinaEjercicio] CHECK CONSTRAINT [CK_RutinaEjercicio_Repeticiones]
GO
ALTER TABLE [dbo].[RutinaEjercicio]  WITH CHECK ADD  CONSTRAINT [CK_RutinaEjercicio_Series] CHECK  (([Series]>(0)))
GO
ALTER TABLE [dbo].[RutinaEjercicio] CHECK CONSTRAINT [CK_RutinaEjercicio_Series]
GO
