USE [GimnasioDB]
GO
/****** Objeto: Table [dbo].[Pago] Fecha de script: 22/09/2026 18:41:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[PagoID] [int] IDENTITY(1,1) NOT NULL,
	[MembresiaID] [int] NOT NULL,
	[DescuentoID] [int] NULL,
	[FechaPago] [datetime2](7) NOT NULL,
	[MontoOriginal] [decimal](10, 2) NOT NULL,
	[MontoDescuento] [decimal](10, 2) NOT NULL,
	[MontoPagado] [decimal](10, 2) NOT NULL,
	[MetodoPago] [varchar](20) NOT NULL,
	[Estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PagoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Pago_FechaPago] Fecha de script: 22/09/2026 18:41:01 ******/
CREATE NONCLUSTERED INDEX [IX_Pago_FechaPago] ON [dbo].[Pago]
(
	[FechaPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pago] ADD  DEFAULT (sysdatetime()) FOR [FechaPago]
GO
ALTER TABLE [dbo].[Pago] ADD  DEFAULT ((0)) FOR [MontoDescuento]
GO
ALTER TABLE [dbo].[Pago] ADD  DEFAULT ('PAGADO') FOR [Estado]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_Descuento] FOREIGN KEY([DescuentoID])
REFERENCES [dbo].[Descuento] ([DescuentoID])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK_Pago_Descuento]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_Membresia] FOREIGN KEY([MembresiaID])
REFERENCES [dbo].[Membresia] ([MembresiaID])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK_Pago_Membresia]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [CK_Pago_Estado] CHECK  (([Estado]='ANULADO' OR [Estado]='PAGADO'))
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [CK_Pago_Estado]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [CK_Pago_Metodo] CHECK  (([MetodoPago]='TRANSFERENCIA' OR [MetodoPago]='TARJETA' OR [MetodoPago]='EFECTIVO'))
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [CK_Pago_Metodo]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [CK_Pago_MontoDescuento] CHECK  (([MontoDescuento]>=(0)))
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [CK_Pago_MontoDescuento]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [CK_Pago_MontoOriginal] CHECK  (([MontoOriginal]>=(0)))
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [CK_Pago_MontoOriginal]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [CK_Pago_MontoPagado] CHECK  (([MontoPagado]>=(0)))
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [CK_Pago_MontoPagado]
GO
