USE [GimnasioDB]
GO
/****** Objeto: Table [dbo].[Clase] Fecha de script: 22/09/2026 18:41:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clase](
	[ClaseID] [int] IDENTITY(1,1) NOT NULL,
	[ServicioID] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](250) NULL,
	[CupoMaximo] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clase] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Clase]  WITH CHECK ADD  CONSTRAINT [FK_Clase_Servicio] FOREIGN KEY([ServicioID])
REFERENCES [dbo].[Servicio] ([ServicioID])
GO
ALTER TABLE [dbo].[Clase] CHECK CONSTRAINT [FK_Clase_Servicio]
GO
ALTER TABLE [dbo].[Clase]  WITH CHECK ADD  CONSTRAINT [CK_Clase_Cupo] CHECK  (([CupoMaximo]>(0)))
GO
ALTER TABLE [dbo].[Clase] CHECK CONSTRAINT [CK_Clase_Cupo]
GO
