USE [GimnasioDB]
GO
/****** Objeto: Table [dbo].[TipoMembresia] Fecha de script: 22/09/2026 18:41:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoMembresia](
	[TipoMembresiaID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[DuracionMeses] [int] NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Descripcion] [varchar](250) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TipoMembresiaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TipoMembresia] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[TipoMembresia]  WITH CHECK ADD  CONSTRAINT [CK_TipoMembresia_Duracion] CHECK  (([DuracionMeses]>(0)))
GO
ALTER TABLE [dbo].[TipoMembresia] CHECK CONSTRAINT [CK_TipoMembresia_Duracion]
GO
ALTER TABLE [dbo].[TipoMembresia]  WITH CHECK ADD  CONSTRAINT [CK_TipoMembresia_Precio] CHECK  (([Precio]>=(0)))
GO
ALTER TABLE [dbo].[TipoMembresia] CHECK CONSTRAINT [CK_TipoMembresia_Precio]
GO
