USE [GimnasioDB]
GO
/****** Objeto: View [dbo].[vw_EjerciciosMasPrescritos] Fecha de script: 22/09/2026 18:41:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_EjerciciosMasPrescritos]
AS
SELECT
    e.EjercicioID,
    e.Nombre AS Ejercicio,
    gm.Nombre AS GrupoMuscular,
    COUNT(re.RutinaEjercicioID) AS VecesPrescrito
FROM Ejercicio e
INNER JOIN GrupoMuscular gm
    ON e.GrupoMuscularID = gm.GrupoMuscularID
LEFT JOIN RutinaEjercicio re
    ON e.EjercicioID = re.EjercicioID
GROUP BY
    e.EjercicioID,
    e.Nombre,
    gm.Nombre;
GO
