USE [GimnasioDB]
GO
/****** Objeto: Table [dbo].[Ejercicio] Fecha de script: 22/09/2026 18:41:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ejercicio](
	[EjercicioID] [int] IDENTITY(1,1) NOT NULL,
	[GrupoMuscularID] [int] NOT NULL,
	[NivelDificultadID] [int] NOT NULL,
	[EquipamientoID] [int] NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](250) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EjercicioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Ejercicio_GrupoMuscular] Fecha de script: 22/09/2026 18:41:01 ******/
CREATE NONCLUSTERED INDEX [IX_Ejercicio_GrupoMuscular] ON [dbo].[Ejercicio]
(
	[GrupoMuscularID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ejercicio] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Ejercicio]  WITH CHECK ADD  CONSTRAINT [FK_Ejercicio_Equipamiento] FOREIGN KEY([EquipamientoID])
REFERENCES [dbo].[Equipamiento] ([EquipamientoID])
GO
ALTER TABLE [dbo].[Ejercicio] CHECK CONSTRAINT [FK_Ejercicio_Equipamiento]
GO
ALTER TABLE [dbo].[Ejercicio]  WITH CHECK ADD  CONSTRAINT [FK_Ejercicio_Grupo] FOREIGN KEY([GrupoMuscularID])
REFERENCES [dbo].[GrupoMuscular] ([GrupoMuscularID])
GO
ALTER TABLE [dbo].[Ejercicio] CHECK CONSTRAINT [FK_Ejercicio_Grupo]
GO
ALTER TABLE [dbo].[Ejercicio]  WITH CHECK ADD  CONSTRAINT [FK_Ejercicio_Nivel] FOREIGN KEY([NivelDificultadID])
REFERENCES [dbo].[NivelDificultad] ([NivelDificultadID])
GO
ALTER TABLE [dbo].[Ejercicio] CHECK CONSTRAINT [FK_Ejercicio_Nivel]
GO
